@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap');



body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 100px;
    margin-top: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    color: black;
}

div{
    display: flex;
    justify-content: center;
    gap: 3rem;
    
}

div a {
    text-decoration: none;
    color: black;
}

hr {
    width: 15%;
    color: rgb(179, 176, 176);
    opacity: .4;
}

span {
    color: #EE24FF;
}

